.hoverCardContent {
    border-radius: 6px;
    padding: 20px;
    width: 800px;
    height: min-content;
    background-color: white;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    animation-duration: 700ms;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
    will-change: transform, opacity;
  }

  .hoverCardContent[data-side='top'] {
    animation-name: slideDownAndFade;
  }
  .hoverCardContent[data-side='right'] {
    animation-name: slideLeftAndFade;
  }
  .hoverCardContent[data-side='bottom'] {
    animation-name: slideUpAndFade;
  }
  .hoverCardContent[data-side='left'] {
    animation-name: slideRightAndFade;
  }

  .hoverCardArrow {
    fill: white;
  }

  .hoverTrigger {
    box-shadow: var(--shadow-elevation-high);
  }

  /*monster styles*/
  .dialogGrid {
    display: grid;
    grid-template-areas: 
      'details card'
      ;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    padding: var(--spacing);
    gap: var(--spacing);
  }
  
  .details {
    grid-area: details;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    word-break: break-word;
  }

  p:nth-child(3) {
    margin-bottom: var(--spacing);
  }
  
  .card {
    grid-area: card;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .cardImage {
    width: 100%;
    height: 100%;
    box-shadow: var(--shadow-elevation-high);
  }


  @keyframes slideUpAndFade {
    0% {
      opacity: 0;
      transform: translateY(2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideRightAndFade {
    0% {
      opacity: 0;
      transform: translateX(-25px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @keyframes slideDownAndFade {
    0% {
      opacity: 0;
      transform: translateY(-2px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideLeftAndFade {
    0% {
      opacity: 0;
      transform: translateX(2px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
