.cardWrapper {
    display: grid;
    grid-template-areas: 
    "card details"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    border-bottom: 2px solid black;
    padding: var(--spacing);
    box-shadow: var(--shadow-elevation-low);
}

.card {
    grid-area: card;
    justify-self: center;
}

.details {
    grid-area: details;
    justify-self: start;
    align-self: center;
}