.deckGrid {
    display: grid;
    justify-content: start;
    align-items: start;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(8, 1fr);
    gap: var(--spacing);
    width: 100%;
    height: 100%;
    border: 2px solid black;
    padding: var(--spacing);
    min-height: 15.625rem;
}

.mainDeckWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    height: 100%;
}

/*Flexible styles - can change them up to what we need or add more in the future depending on what we want from the deck */
.mainDeck {
    background-color: brown;
}

.sideDeck {
    background-color: purple;
}

.extraDeck {
    background-color: lightgreen;
}

/* styles for droppped image/item */
.droppedItem {
    width: 100%;
    height: auto;
    object-fit: cover;
}