.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    top: 0;
    height: 100%;
    width: fit-content;
    background-color: #FFF3DA;
    padding: 2rem;
    gap: var(--spacing);
    animation: slidein 500ms cubic-bezier(0, 0.46, 0, 1.04) both;
    will-change: transform; 
    box-shadow: var(--shadow-elevation-high);

}
/* 
.toastWrapper {
    position: relative;
    animation: toast 800ms cubic-bezier(0, 0.46, 0, 1.04) both;
    will-change: transform;
  } */

.formColumn {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: var(--spacing);
}

.modalHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 1rem;
    gap: 2rem;
}

.filterTitle {
    margin-right: auto;
}

.xButton {
    margin: 0;
    padding: 0;
    border: none;
    background: none;       
}

.hoverX:hover {
    color: red;
    cursor: pointer;
}

.filterButton {
    margin-top: 1rem;
}

@keyframes slidein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}