/* global styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Lato', sans-serif;
}
img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  margin:0;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  --spacing: 8px;
  --font-size: 1.15rem;
  --primary-border-radius: 6px;
  --font-weight-medium: 600;
  --primary-outline-offset: .3rem;
}
#root,
#__next {
  isolation: isolate;
  width: 100%;
  height: 100%;
}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.selectInput {
  border-radius: var(--primary-border-radius);
  width: 100%;
  border: 1px solid lightgrey;
}

.primaryButton {
  border-radius: var(--primary-border-radius);
  background-color: aquamarine;
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size);
  outline-offset: var(--primary-outline-offset);
}

.resetButton {
  border-radius: var(--primary-border-radius);
  background-color: rgb(228, 7, 128);
  border: none;
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size);
  outline-offset: var(--primary-outline-offset);
}
