.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

ol {
    list-style: none;
    height: 100%;
}

li {
    padding: 1px;
}

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track:hover {
    background: #666;
    cursor: pointer;
}